<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sended Massage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/Contact-Form-Clean.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css')}}">
</head>

<body>
    <section class="contact-clean">
        <form action="sendSms" method="GET">
             <div class="sec-B">
                <h1  class="text-center" class="els-h1-txt">Well done</h1>
            </div>
    </section>
    <script src="{{ url_for('static', filename='/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='/bootstrap/js/bootstrap.min.js')}}"></script>
</body>

</html>